.avatarPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;
    height: 100%;
    margin: 4px;

    color: white;
    background: #2A7B9B;
    background: linear-gradient(9deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 70%, rgba(237, 221, 83, 1) 100%);

    font-size: 24px;
    border-radius: 100%;

    user-select: none;

    position: relative;

}

.onlineIndicator {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    background: yellowgreen;
    border-radius: 100%;
    right: 2px;
    bottom: 2px;
}