.dimmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 60px;
    min-height: 60px;
    background: var(--backgound-color);
    border-radius: 16px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}