.chatList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    flex: 1;
}

.chatEntry {
    height: 60px;
    width: 100%;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.chatEntry:hover {
    background: var(--dimmed-gray);
}

.chatEntry.active {
    background: #419FD9;
    color: white;
}

.userInitialText {
    margin: 4px;
    flex: 1;
    height: 100%;
    font-size: 14px;
    user-select: none;
}

.verticalContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.verticalContainer span {
    margin: 4px;
    font-size: 14px;
    color: gray;
}

.chatEntry.active span {
    color: white;
}